/* Local CSS */

.referencesTest {
    position: absolute;
    top: 40rem;
    left: 630rem;
}


/*** CSS VV ***/

.bg {
    background-color: #eeedec;
}


.pageHeading {
    font: normal 29rem 'Termina-Black';
    position: absolute;
    color: #d13239;
    top: 59rem;
    left: 131rem;
    width: 708rem;
}


.sub_head {
    font: normal 15rem 'Akzidenz-Grotesk-Bold';
    position: absolute;
    color: #d13239;
    top: 187rem;
    left: 131rem;
}


/*** Box 1 start ***/

.box_1 {
    position: absolute;
    width: 540rem;
    height: 340rem;
    top: 225rem;
    left: 263rem;
}



.box_1 .arrow_img {
    position: relative;
    background: url(../media/images/arrow_img.png) no-repeat;
    background-size: 170rem 330rem;
    width: 170rem;
    height: 446rem;

}

.box_1 .head_number{
    font: normal 98rem 'Termina-Black';
    color: #d13239;
    position: absolute;
    top: -14rem;
    left: 52rem;

}

.box_1 .head_text {
    font: normal 18rem 'Akzidenz-Grotesk-Md';
    position: absolute;
    color: #d13239;
    top: 91rem;
    left: 52rem;
    border-bottom: 1rem solid #4a4a49;
    height: 34rem;
    width: 338rem;
}

.box_1 .para_text {
    font: normal 14rem 'Akzidenz-Grotesk-Light';
    position: absolute;
    top: 134rem;
    left: 52rem;
    color: #4a4a49;
}


/*** Box 1 end ***/





/*** P Profile start ***/

.p_profile {
    position: absolute;
    top: 261rem;
    left: 464rem;
}

.p_profile .p1_img {
    border-radius: 50%;
    background: url(../media/images/p2_image.png) no-repeat;
    position: absolute;
    background-size: 110rem 110rem;
    width: 110rem;
    height: 110rem;
    left: 407rem;
    top: 281rem;
}

.p_profile .plus_icon {
    border-radius: 50%;
    background: url(../media/images/plus_icon.png) no-repeat;
    position: absolute;
    background-size: 44rem 44rem;
    width: 44rem;
    height: 44rem;
    left: 487rem;
    top: 340rem;
}

/*** P Profile End ***/


.foot_t {
    position: absolute;
    bottom: 70rem;
    font: 12rem 'Akzidenz-Grotesk-Light';

}

.foot_t p {
    margin-bottom: 1rem;
}